@import url("variables.css");

@font-face {
  font-family: helvetica-light;
  src: url("helvetica-light-587ebe5a59211.ttf");
}

@mixin fibonacci-margin($count) {
  // Initialize the first two Fibonacci numbers
  $a: 0;
  $b: 1;

  // Base margin unit
  $base-margin: 1rem;

  // Loop to generate Fibonacci sequence and apply margins
  @for $i from 0 through $count - 1 {
    // Calculate the Fibonacci number
    $fibonacci: $a * $base-margin;

    // Apply the margin class
    .m-#{$i} {
      margin: $fibonacci;
    }

    // Update Fibonacci numbers
    $temp: $b;
    $b: $a + $b;
    $a: $temp;
  }
}

// Generate Fibonacci margins for 6 classes (m-0, m-1, m-2, etc.)
@include fibonacci-margin(6);


.mission{
  margin-top: 10svh;
  padding-bottom: 10svh;
  background: rgba($color:#e3e3e3, $alpha: 0.6);

}
.projects-container{
  margin-top: 20svh;
  margin-inline: 5svw;
  overflow: hidden;
  .projects{
    width: 99svw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    overflow: auto;
    .card{
      height: 20svh;
      overflow: hidden;
    }
  }
}
.accent-color{
  background: var(--accent);
}
.light-bg-c{
  background: var(--light);
}
.logo{
  width: 3rem;
}
.containers{
  position: relative;
  text-align: center;
  margin: 0;
  height: 50svh;
  overflow: hidden;
  img{
    width:100svw;
  }
}


/* Centered text */
.centered {
  width: 100svw;
  height: 50svh;
  
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #b7b7b7cf;
  transform: translate(-50%, -50%);
  .content{
    margin-top:10svh;
  }
}
img{
  object-fit: cover;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}
@media only screen and (min-width: 1025px) {
  /* Styles for desktops and larger screens */
}

